*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    background-color: rgb(231, 232, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .item{
    font-size: 1.5rem;
}
.item1{
    background-color:rgb(165, 230, 165);
}
.item2{
    background-color:rgb(226, 224, 77);
}
.item3{
    background-color:rgb(118, 164, 223);
}
.item4{
    background-color:rgb(20, 231, 221);
}
.item5{
    background-color:rgb(41, 54, 231);
}
.item6{
    background-color:rgb(241, 189, 46);
}
.item7{
    background-color:rgba(206, 82, 82, 0.842);
}
.item8{
    background-color:rgb(55, 209, 55);
}
.item9{
    background-color:rgb(219, 110, 210);
}
.container{
    width: 800px;
    background-color: rgb(241, 241, 241);
    box-shadow:black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:100px 100px 100px;
    grid-gap:10px;  
    text-align: center;
}
.item1{
    grid-column: 3/4;
    grid-row: 3/4   ;
}
.item3{
    grid-column: 1/2;
    grid-row: 1/2;
}
.item2{
    grid-column: 2/3;
    grid-row: 1/2;
} */
.main{
    width: 600px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 50px 100px 100px 50px;
    grid-gap:10px;
}
.nav{
    background-color: rgb(223, 206, 185);
    grid-column: 1/-1;
}
.aside{
    background-color: rgb(145, 127, 106);
    grid-row: 2/ span 2;
}
.article-1{
    background-color: rgb(223, 206, 185);
}
.article-2{
    background-color: rgb(223, 206, 185);
}
.article-3{
    background-color: rgb(223, 206, 185);
}
.article-4{
    background-color: rgb(145, 127, 106);
    grid-column: 2/-1;
}
.footer{
    background-color: rgb(223, 206, 185);
    grid-column: 1/-1;
}
.item{
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 1.25rem;
}